.aside-clients{
    display: flex;
    padding-top: 180px;
}

.aside-clients__container{
    display: flex;
    flex-direction: column;
}

.aside-clients__title-container{
   display: flex;
   flex-direction: column;
   margin-bottom: 126px;
}

.aside-clients__sub-title{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 6px;
  line-height: 26.2px;
  text-transform: uppercase;
  color:#F61067;
  margin-bottom: 32px;
}

.aside-clients__title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    max-width:685px; 
    color:#30233D;
}
/* ----------------contant-container---------------*/

.aside-clients__contant-container{
  display: flex;
  justify-content: space-between;
}

/* -------------leftside---------------- */

.aside-clients__leftside-rectangle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 705px;
    padding: 154px 103px 162px 146px;
    background-color: #150433;
    margin:0px 127px -72px -146px;
}

.aside-clients__leftside-container{
    display: flex;
    flex-direction: column;
}

.aside-clients__leftside-title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color:#F61067;
    margin-bottom: 40px;
}

.aside-clients__leftside-text{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.4px; 
    color:#FCFCFC;
    margin-bottom: 42px;
}

.aside-clients__leftside-text_last{
    margin-bottom: 0px;
}

/* ------------logos--------------- */

.aside-clients__logos{
    display: flex;
    flex-direction: column;
}

.aside-clients__logos-title{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12.6px;
    font-weight: 800;
    line-height:  26.195px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 49px 0px 85px;
}

.aside-clients__logos-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:460px;
}

.aside-clients__logos-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.aside-clients__logos-row:nth-child(1){
   margin-bottom: 106px;
}

.aside-clients__logos-row:nth-child(2){
    flex-direction: row-reverse;
    margin-bottom: 102px;
}
