.aside-clients{
    display: flex;
    padding-top: 180px;
}

.aside-clients__container{
    display: flex;
    flex-direction: column;
}

.aside-clients__title-container{
   display: flex;
   flex-direction: column;
   margin-bottom: 126px;
}

.aside-clients__sub-title{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 6px;
  line-height: 26.2px;
  text-transform: uppercase;
  color:#F61067;
  margin-bottom: 32px;
}

.aside-clients__title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    max-width:685px; 
    color:#30233D;
}
/* ----------------contant-container---------------*/

.aside-clients__contant-container{
  display: flex;
  justify-content: space-between;
}

/* -------------leftside---------------- */

.aside-clients__leftside-rectangle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 705px;
    padding: 154px 103px 162px 146px;
    background-color: #150433;
    margin:0px 127px -72px -146px;
}

.aside-clients__leftside-container{
    display: flex;
    flex-direction: column;
}

.aside-clients__leftside-title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color:#F61067;
    margin-bottom: 40px;
}

.aside-clients__leftside-text{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.4px; 
    color:#FCFCFC;
    margin-bottom: 42px;
}

.aside-clients__leftside-text_last{
    margin-bottom: 0px;
}

/* ------------logos--------------- */

.aside-clients__logos{
    display: flex;
    flex-direction: column;
}

.aside-clients__logos-title{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12.6px;
    font-weight: 800;
    line-height:  26.195px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 49px 0px 85px;
}

.aside-clients__logos-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:460px;
}

.aside-clients__logos-row{
    display: flex;
    justify-content: space-between;
}

.aside-clients__logos-row:nth-child(1){
   margin-bottom: 106px;
}

.aside-clients__logos-row:nth-child(2){
    flex-direction: row-reverse;
    margin-bottom: 102px;
}


/* --------------tablet-------------- */

@media (min-width:768px) and (max-width: 1145px){

    .aside-clients{
        padding-top: 90px;
    }
    
    .aside-clients__title-container{
       margin-bottom: 100px;
    }
    
    .aside-clients__sub-title{
        line-height: 29px;
        margin-bottom: 30px;
    }
    
    .aside-clients__title{
        font-size: 42px;
        line-height: 62px;
        max-width:685px; 
    }
    
    /* -------------leftside---------------- */
    
    .aside-clients__leftside-rectangle{
        min-width:50vw;
        padding: 154px 70px 150px 70px;
        margin:0px 8.7vw -5vw 0px;
    }
      
    .aside-clients__leftside-title{
        font-family: 'M PLUS 1p', sans-serif;
        font-size: 32px;
        margin-bottom: 30px;
    }
    
    .aside-clients__leftside-text{
        font-size: 17x;
        line-height: 29px; 
        margin-bottom: 35px;
    }
  
    /* ------------logos--------------- */
  
    .aside-clients__logos-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:calc(100vw - 50vw - 8.7vw);
    }
    
    .aside-clients__logos-row{
        display: flex;
        justify-content: space-between;   
    }
    
    .aside-clients__logos-row:nth-child(1){
       margin-bottom: 106px;
    }

    .aside-clients__logotipe{
        width:12.4vw ;
    }
    

}

/* --------------mobile-------------- */

@media (min-width:360px) and (max-width: 767px){
    .aside-clients{
        display:none;
    }

}