.our-service{
   display: flex;
   flex-direction: column;
   padding-top: 180px;
   /* border:1px solid red; */
}


/* -------------------our-service__title-------------- */
.our-service__title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  margin-bottom: 72px;

  /* border: 1px solid green;  */
}

.our-service__sub-title{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 6px;
  color:#F61067;
  text-transform: uppercase;
}

.our-service__main-title{
  font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color:#30233D;
}


/* -----------------------our-service__items-------------- */

.our-service__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-service__item{
    display: flex;
    flex-direction: column;
}

.our-service__item:nth-child(1),
.our-service__item:nth-child(2),
.our-service__item:nth-child(3){
  margin-bottom: 72px;
}

.our-service__icon{
    margin-bottom: 18px;
}

.our-service__item-title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 18x;
    color:#30233D;
    margin-bottom: 18px;
}

.our-service__items-text{
   font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26.5px;
    color:#776C82;
    max-width: 311px;
}



/* --------------tablet-------------- */

@media (min-width:768px) and (max-width: 1145px){
      .our-service{
        padding-top: 90px;
    }

   
    /* -------------------our-service__title-------------- */
    .our-service__title{
      margin-bottom: 50px;
    }
    
    .our-service__sub-title{
      font-weight: 700;
      font-size: 12px;
    }
    
    .our-service__main-title{
        font-weight: 500;
        font-size: 40px;
    }
    
    
    /* -----------------------our-service__items-------------- */

    .our-service__item{
      width: 50%;
    }
    
    .our-service__item:nth-child(1),
    .our-service__item:nth-child(2),
    .our-service__item:nth-child(3){
      margin-bottom: 25px;
    }
    
    .our-service__icon{
        margin-bottom: 16px;
    }
    
    .our-service__items-text{
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
    }

}

/* --------------mobile-------------- */

@media (min-width:360px) and (max-width: 767px){
  .our-service{
    padding-top: 10px;
  }
 
  .our-service__title{
    height:70px;
    margin-bottom: 62px;
  }

  .our-service__sub-title{
    font-size: 10px;
  }

  .our-service__main-title {
    font-size: 35px;
  }

  .our-service__items{
    flex-direction: column;
  }

  .our-service__item:nth-child(4),
  .our-service__item:nth-child(5),
  .our-service__item:nth-child(6){
    display: none;
  }



}